<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<ul>

    {{#each video }}

    <li>
        <p>Name: {{this.snippet.title}}</p>
        {{!-- <p>Video ID: {{this.id.videoId}}</p> --}}
        <p>Channel: {{this.snippet.channelTitle}}</p>
        <img src="{{this.snippet.thumbnails.high.url}}">
        <a href="/video/{{this.id.videoId}}"><button>View</button></a>

    </li>
    {{/each}}

    {{#each video1}}
    
    <li>
        <p>Name: {{this.snippet.title}}</p>
        {{!-- <p>Video ID: {{this.id.videoId}}</p> --}}
        <p>Channel: {{this.snippet.channelTitle}}</p>
        <img src="{{this.snippet.thumbnails.high.url}}">
        <a href="/video/{{this.id.videoId}}"><button>View</button></a>
    
    </li>
    {{/each}}

    {{#each video2}}
    
    <li>
        <p>Name: {{this.snippet.title}}</p>
        {{!-- <p>Video ID: {{this.id.videoId}}</p> --}}
        <p>Channel: {{this.snippet.channelTitle}}</p>
        <img src="{{this.snippet.thumbnails.high.url}}">
        <a href="/video/{{this.id.videoId}}"><button>View</button></a>
    
    </li>
    {{/each}}

</ul>





    
</body>
</html>