<div class="relative isolate px-6 pt-14 lg:px-8">

<ul>
   {{#each video }}

    <li>
        <p>Name: {{this.snippet.title}}</p>
        <p>Channel: {{this.snippet.channelTitle}}</p>
        <img src="{{this.snippet.thumbnails.high.url}}">
        <a href="/video/{{this.id.videoId}}"><button>View</button></a>

    </li>
    {{/each}}

    {{#each video1}}

    <li>
        <p>Name: {{this.snippet.title}}</p>
        <p>Channel: {{this.snippet.channelTitle}}</p>
        <img src="{{this.snippet.thumbnails.high.url}}">
        <a href="/video/{{this.id.videoId}}"><button>View</button></a>

    </li>
    {{/each}}

    {{#each video2}}

    <li>
        <p>Name: {{this.snippet.title}}</p>
        <p>Channel: {{this.snippet.channelTitle}}</p>
        <img src="{{this.snippet.thumbnails.high.url}}">
        <a href="/video/{{this.id.videoId}}"><button>View</button></a>

    </li>
    {{/each}}
</ul>

</div>
